.wrapper {
    position: relative;
    width: 100vw;
    max-width: 100vh;
    max-height: 177.77vw;
    height: 177.78vw;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    width: 98vw;
    max-width: 98vw;
}

::-webkit-scrollbar {
width: 2vw;
}

::-webkit-scrollbar-track {
background: #dddddd;
}

::-webkit-scrollbar-thumb {
background: #966545;
border: 1px solid #B8BDBD;
}

::-webkit-scrollbar-thumb:hover {
background: #966545;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
background-color: #dddddd;
display: block;
border-style: solid;
height: 1.5vw;
width: 2vw;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
border-width: 0 1vw 1vw 1vw;
border-color: transparent transparent #808080 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
border-width: 1vw 1vw 0 1vw;
border-color: #808080 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
border-color: #777777 transparent transparent transparent;
}

.BannerSwiper,
.banner {
    height: 35vh;
}

.banner-slide {
    height: 35vh;
    background-size: cover;
    background-position: 50% 50%;
}

.index-button {
    background-color: #d6d6d6;
    padding: 2vh;
    height: 8.1vh;
    display: block;
    text-align: center;
    color: #333;
    font-size: 2vh;
    position: relative;
    border: 0.125vh solid #BDB79F;

    color: #fff;
    background-color: #4B7F2B;
    text-transform: uppercase;
}

.index-button:hover,
.index-button:focus {
    color: #fff;
    background-color: #6bc1e9;
}

.index-button span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1vh;
    right: 1vh;
    z-index: 10;
    text-shadow: 0 1px 16px rgba(0,0,0,0.5),
                 0 1px 32px rgba(0,0,0,0.5),
                 0 1px 64px rgba(0,0,0,0.5);
}

.index-button .index-button-image,
.index-button .index-button-image:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}

.index-button .index-button-image:after {
    content: '';
    z-index: 2;
    background-color: rgb(104 76 52 / 65%);
}

.m-buttons .col-12:nth-child(2n+1) .index-button .index-button-image:after {
    background-color: rgb(119 157 85 / 64%);
}

.m-buttons {
    border: 0.1vh solid #BDB79F;
    border-top: 0.25vh solid #BDB79F;
    border-bottom: 0.25vh solid #BDB79F;
    height: 65vh;
    overflow-y: auto;
    background-color: #BDB79F;
}

.m-buttons .col-12:nth-child(2n+2) .index-button {
    background-color: #976545;
}

.user-pages-item-item .user-pages-item-image:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}

.user-pages-item-item .user-pages-item-image:after {
    content: '';
    z-index: 2;
    background-color: rgba(176, 110, 69, 0.46);
}

.user-pages-item-item:nth-child(2n+1) .user-pages-item-image:after {
    background-color: rgba(75, 122, 45, 0.31);
}

.user-pages-item-item h2 {
    position: absolute;
    top: 2vh;
    left: 2vh;
    right: 2vh;
    text-align: left;
    z-index: 10;
    line-height: 1.45;
    font-size: 1.7vh;
    text-shadow: 0 1px 16px rgba(0,0,0,0.5),
    0 1px 32px rgba(0,0,0,0.5),
    0 1px 64px rgba(0,0,0,0.5);
}

.page-item {
    background-color: #fff;
    height: 60vh;
    max-height: 60vh;
    margin-top: 1vh;
}

.header-sub {
    height: 20vh;
}

.header-sub .m-logo {
    width: 11vh;
    height: 11vh;
    margin-top: 3vh;
    margin-bottom: 0;
    border-width: 0.4vh;
}

.header-sub .m-logo a {
    display: block;
    height: 100%;
}

.header-sub .m-title p {
    font-size: 1.7vh;
    text-align: center;
    padding-top: 2vh;
}

.PagesSwiper {
    background: #171F19;
}

.PagesSwiper .index-button {
    height: 57vh;
}

.PhotoalbumsSwiper .index-button,
.VideoalbumsSwiper .index-button {
    height: 57vh;
}

.gallery-detail {
    padding: 0 2.5vh;
}

.gallery-detail-item {
    /*width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    margin: 0 5vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 60vh;
    margin: 0;
    opacity: 1;
}

.gallery-detail-item img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 60vh;
    transform: none;
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 999;
}

.gallery-detail-item video {
    display: block;
    max-height: 100%;
    transform: scale(0.25);
}

.gallery-detail-item video {
    display: block;
    max-height: 100%;
    transform: scale(0.25);
}

.h1-page {
    font-weight: normal;
    font-size: 2vh;
    text-align: center;
    margin-bottom: 2vh;
    height: 5vh;
    margin-top: 2vh;
}

.type-1 {
    padding: 0;
}

.type-1 .page-detail-text {
    height: 51vh;
    font-size: 1.5vh !important;
    padding: 4vh;
}

.type-2 {
    padding: 0;
}

.type-2 .page-detail-text {
    padding-left: 0;
    height: 31vh;
    font-size: 1.5vh !important;
    padding: 4vh;
    padding-top: 2vh;
}

.type-2 .page-detail-image {
    height: 20vh;
    margin-bottom: 2vh;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 4vh;
}

.type-3 {
    padding: 0;
}

.type-3 .page-detail-text {
    padding-left: 0;
    padding: 4vh;
    padding-top: 2vh;
    height: 35vh;
    font-size: 1.5vh !important;
    overflow-y: auto;
}

.type3slider {
    margin-top: 2vh;
}

.type3slider-item {
    height: 12vh;
    background-size: cover;
    background-position: 50% 50%;
}

.type-7 .text {
    height: 48vh;
    width: 100%;
}

.type-7 iframe {
    margin-bottom: 2vh;
    height: 56vh;
}

.excel-item {
    width: 94vw;
    width: auto;
    height: 57vh;
    overflow-y: scroll;
    text-align: center;
    background-color: #fff;
    padding: 2vh;
}

.excel-item table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: inline-block;
    overflow-x: auto;
    text-align: left;
    font-size: 1.1vh;
}

.excel-item table tr {
    border-top: 1px solid #dfe2e5;
}

.excel-item table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.excel-item table td,
.excel-item table th {
    border: 1px solid #dfe2e5;
    padding: .6em 1em;
}

.review-form textarea {
    height: 25vh;
    width: calc(100% - 4vh);
    display: block;
    margin: 0 auto;
    font-size: 2.5vh;
}

.keyboard-reviews {
    padding: 2vh;
}

.hg-theme-default .hg-button {
    height: 3vh;
}

.btn-med {
    background-color: #966545;
    color: #fff;
    padding: 1.25vh 4vh;
    text-align: center;
    border-radius: 1vh;
    font-size: 2vh;
    width: 32vw;
    display: block;
    margin: 0 auto;
    margin-top: 2vh;
}

.news-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    height: 60vh;
}

.news-list-item,
.news-list-item:nth-child(2n+2) {
    background-color: #976545;
}

.news-list-item a {
    margin: 0;
    padding: 2vh;
    border: 0;
    border-bottom: 0.25vh solid #BDB79F;;
    position: relative;
    display: block;
    height: 17vh;
}

.news-item-image,
.news-item-image:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}

.news-item-image:after {
    content: '';
    z-index: 2;
    background-color: rgba(131, 75, 40, 0.75);
}

.news-list-item:nth-child(2n+2) .news-item-image:after {
    background-color: rgba(96, 147, 65, 0.75);
}

.news-list-item h2 {
    padding: 0;
    font-size: 2vh;
    position: absolute;
    top: 2vh;
    left: 2vh;
    z-index: 10;
    height: 7vh;
    color: #fff;
}

.news-list-item-text-preview {
    padding: 0;
    font-size: 1.5vh !important;
    color: rgba(255,255,255,0.6) !important;
    position: absolute;
    top: 10vh;
    z-index: 10;
}

.news-list-item-text-preview p {
    margin: 0;
    font-size: 1.5vh !important;
    color: rgba(255,255,255,0.6) !important;
}

.news-item-text h1 {
    font-size: 2.5vh;
    color: #333;
    font-weight: normal;
}

.news-item-text,
.news-item-text p {
    font-size: 1.5vh !important;
}

.news-item-cover {
    height: 25vh;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 2vh;
}

.swiper-button-prev, .swiper-button-next {
    border-radius: 100%;
    width: 3vh;
    height: 3vh;
    color: #fff;
    font-size: 2vh;
    background-color: #4B7F2B;
    border: 0.2vh solid #fff;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 1.5vh;
}



/* FOOTER */

footer {
    height: 5vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.muzei-home {
    background-color: #2886bb;
    width: 6vh;
    height: 5vh;
    display: inline-block;
    position: relative;
    margin-right: 3vh;
    padding-left: 1vh;
    vertical-align: middle;
}

.muzei-home-sub {
    background-color: #4B7F2B;
}

.muzei-home:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -5vh;
    width: 0;
    height: 0;
    border: 2.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #2886bb;
    border-right-color: transparent;
}

.muzei-home-sub:after {
    border-left-color: #4B7F2B;
    z-index: 10;
}

.muzei-home img {
    width: 4.5vh;
    margin-top: 0.25vh;
}

.muzei-footer-second {
    vertical-align: middle;
    color: #fff;
    position: relative;
    background-color: #71a551;
    width: auto;
    height: 5vh;
    display: inline-block;
    padding-left: 4vh;
    padding-right: 0.5vh;
    margin-left: -3.5vh;
    font-size: 1.5vh;
    line-height: 5vh;
    margin-right: 3vh;
}

.muzei-footer-second:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 0;
    height: 0;
    border: 2.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #71a551;
    border-right-color: transparent;
}

.muzei-footer-second:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -5vh;
    width: 0;
    height: 0;
    border: 2.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #71a551;
    border-right-color: transparent;
}

.muzei-footer-second:focus,
.muzei-footer-second:hover,
.muzei-footer-third:focus,
.muzei-footer-third:hover {
    color: #fff;
    text-decoration: none;
}

.muzei-footer-second span {
    display: block;
    margin-right: 2vh;
}

.muzei-footer-third {
    font-size: 1.5vh;
    line-height: 5vh;
    color: #fff;
}

/* FOOTER */


