html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    /*cursor: none;*/
}

body {
    font-family: 'Izhitsa Cyrillic', arial;
}

.wrapper {
    position: relative;
    width: 100vw;
    max-width: 100vh;
    max-height: 177.77vw;
    height: 177.78vw;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    width: 92vw;
    max-width: 92vw;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0.5vh;
    padding-left: 0.5vh;
}

.row {
    margin-right: -0.5vh;
    margin-left: -0.5vh;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0.5vh;
    padding-left: 0.5vh;
}

::-webkit-scrollbar {
width: 2vw;
}

::-webkit-scrollbar-track {
background: #dddddd;
}

::-webkit-scrollbar-thumb {
background: #966545;
border: 1px solid #B8BDBD;
}

::-webkit-scrollbar-thumb:hover {
background: #966545;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
background-color: #dddddd;
display: block;
border-style: solid;
height: 1.5vw;
width: 2vw;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
border-width: 0 1vw 1vw 1vw;
border-color: transparent transparent #808080 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
border-width: 1vw 1vw 0 1vw;
border-color: #808080 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
border-color: #777777 transparent transparent transparent;
}

.header {
    padding-top: 1vh;
}

.header-logo img {
    width: auto;
    height: auto;
    max-width: 9vh;
    max-height: 9vh;
    display: inline-block;
    vertical-align: middle;
}

.header-logo-mini img {
    max-width: 4vh;
    max-height: 4vh;
}

.header-logo span {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.11vh;
    margin-left: 1.25vh;
    line-height: 1.35;
}

.header-logo-mini span {
    font-size: 1.32vh;
    margin-left: 0.5vh;
}

.header-logo-mini span br {
    display: none;
}

.header-logo a,
.header-logo a:hover,
.header-logo a:focus,
.header-logo a:active {
    color: #fff;
}

.banner {
    border-radius: 2vh;
    overflow: hidden;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.index-banner-slide {
    height: 29.5vh;
    background-size: cover;
    background-position: 50% 50%;
}

.banner-slide {
    height: 35vh;
    background-size: cover;
    background-position: 50% 50%;
}

.headline {
    font-size: 3.4vh;
    color: #1E60A2;
    text-align: center;
    margin-bottom: 1.35vh;
    text-shadow:
    0.4vh 0 0 #fff,
    -0.4vh 0 0 #fff,
    0 0.4vh 0 #fff,
    0 -0.4vh 0 #fff,
    0.3vh 0.3vh #fff,
    -0.3vh -0.3vh 0 #fff,
    0.3vh -0.3vh 0 #fff,
    -0.3vh 0.3vh 0 #fff;
}

.index-button {
    height: 9vh;
    display: block;
    margin-bottom: 1.2vh;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.1vh 1.5vh rgba(0, 5, 77, 0.15);
}

.user-pages .row .col-6:nth-child(2n) .index-button {
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
}

.index-button_pic {
    background-size: cover;
    background-position: 50% 50%;
    height: 9vh;
    position: relative;
    filter: grayscale(100%);
}

.index-button_pic:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
}

.index-button_minipic {
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5vh;
}

.user-pages .row .col-6:nth-child(2n) .index-button_minipic {
    left: auto;
    right: 0.5vh;
}

.index-button_label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.9vh;
    color: #222A72;
    right: 0.5vh;
    left: 9vh;
    line-height: 1.15;
}

.user-pages .row .col-6:nth-child(2n) .index-button_label {
    left: 0.5vh;
    right: 9vh;
    text-align: right;
}

.page-item {
    background-color: transparent;
    margin-top: 1vh;
}

.header-sub {
    height: 20vh;
}

.header-sub .m-logo {
    width: 11vh;
    height: 11vh;
    margin-top: 3vh;
    margin-bottom: 0;
    border-width: 0.4vh;
}

.header-sub .m-logo a {
    display: block;
    height: 100%;
}

.header-sub .m-title p {
    font-size: 1.7vh;
    text-align: center;
    padding-top: 2vh;
}

.PhotoalbumsSwiper .index-button,
.VideoalbumsSwiper .index-button {
    height: 57vh;
}

.gallery-detail {
    padding: 0 2.5vh;
}

.gallery-detail-item {
    /*width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    margin: 0 5vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin: 0;
    opacity: 1;
}

.gallery-detail-item img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    transform: none;
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 999;
}

.gallery-detail-item video {
    display: block;
    max-height: 100%;
    transform: scale(0.25);
}

.gallery-detail-item video {
    display: block;
    max-height: 100%;
    transform: scale(0.25);
}

.h1-page {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.1vh;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-top: -0.5vh;
    padding: 0 1vh;
    height: 5vh;
    overflow: hidden;
    margin-bottom: 3vh;
}

.type-1 {
    padding: 0;
}

.type-1 .page-detail-text {
    height: 51vh;
    font-size: 1.5vh !important;
    padding: 0vh;
}

.type-1 .table-bordered td,
.type-1  .table-bordered th {
    border: 0.2vh solid #1d5ea0;
    font-size: 1.75vh !important;
}

.type-1 .table-bordered td span,
.type-1  .table-bordered th span {
    font-size: 1.75vh !important;
}

.type-1  .table td,
.type-1 .table th {
    vertical-align: middle;
}

.type-2 {
    padding: 0;
    margin-left: -2.5vh;
    width: calc(100% + 5vh);
}

.type-2 .page-detail-text {
    padding-left: 0;
    height: 31vh;
    font-size: 1.5vh !important;
    padding: 4vh;
    padding-top: 2vh;
}

.type-2 .page-detail-image {
    height: 20vh;
    margin-bottom: 2vh;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 4vh;
}

.type-2 p {
    margin: 0 !important;
    margin-bottom: 2vh !important;
    padding: 0 4vh !important;
}

.type2slider-item {
    font-size: 1.75vh !important;
    line-height: 1.3 !important;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.type2slider-item-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    max-height: 80vh;
    overflow-y: auto;
}

.type2slider-item img {
    display: block;
    margin: 0 auto;
    max-width: 85vw !important;
    max-height: 80vh !important;
}

.type-3 {
    padding: 0;
}

.type-3 .page-detail-text {
    padding-left: 0;
    padding: 4vh;
    padding-top: 2vh;
    height: 35vh;
    font-size: 1.75vh !important;
    line-height: 1.3 !important;
    overflow-y: auto;
}

.type-3 .page-detail-text p {
    margin: 0 !important;
    margin-bottom: 2vh !important;
}

.type3slider {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.type3slider-item {
    height: 28vh;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.t6-button {
    padding: 0.8vh 1vh;
}

.t6-button_inner {
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    position: relative;
    border-top-left-radius: 3.5vh;
    border-top-right-radius: 3.5vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    overflow: hidden;
    box-shadow: 0 0.1vh 1.5vh rgba(0, 5, 77, 0.15);
    height: 25vh;
}

.t6-button_inner:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
}

.t6-button_image {
    background-size: cover;
    background-position: 50% 50%;
    height: 13vh;
    position: absolute;
    top: 1.5vh;
    left: 1.5vh;
    right: 1.5vh;
    z-index: 10;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}

.t6-button span {
    position: absolute;
    z-index: 10;
    left: 1.5vh;
    right: 1.5vh;
    top: 15.5vh;
    text-align: center;
    height: 8.5vh;
}

.t6-button span i {
    font-style: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.65vh;
    line-height: 1.3;
    color: #222A72;
}

.type-7 .text {
    height: 48vh;
    width: 100%;
}

.type-7 iframe {
    margin-bottom: 2vh;
    height: 56vh;
}

.excel-item {
    width: 94vw;
    width: auto;
    height: 57vh;
    overflow-y: scroll;
    text-align: center;
    background-color: #fff;
    padding: 2vh;
}

.excel-item table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: inline-block;
    overflow-x: auto;
    text-align: left;
    font-size: 1.1vh;
}

.excel-item table tr {
    border-top: 1px solid #dfe2e5;
}

.excel-item table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.excel-item table td,
.excel-item table th {
    border: 1px solid #dfe2e5;
    padding: .6em 1em;
}

.review-form textarea {
    height: 25vh;
    width: calc(100% - 4vh);
    display: block;
    margin: 0 auto;
    font-size: 2.5vh;
}

.keyboard-reviews {
    padding: 2vh;
}

.hg-theme-default .hg-button {
    height: 3vh;
}

.btn-med {
    background-color: #966545;
    color: #fff;
    padding: 1.25vh 4vh;
    text-align: center;
    border-radius: 1vh;
    font-size: 2vh;
    width: 32vw;
    display: block;
    margin: 0 auto;
    margin-top: 2vh;
}

.news-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    height: 60vh;
}

.news-list-item,
.news-list-item:nth-child(2n+2) {
    background-color: #976545;
}

.news-list-item a {
    margin: 0;
    padding: 2vh;
    border: 0;
    border-bottom: 0.25vh solid #BDB79F;;
    position: relative;
    display: block;
    height: 17vh;
}

.news-item-image,
.news-item-image:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}

.news-item-image:after {
    content: '';
    z-index: 2;
    background-color: rgba(131, 75, 40, 0.75);
}

.news-list-item:nth-child(2n+2) .news-item-image:after {
    background-color: rgba(96, 147, 65, 0.75);
}

.news-list-item h2 {
    padding: 0;
    font-size: 2vh;
    position: absolute;
    top: 2vh;
    left: 2vh;
    z-index: 10;
    height: 7vh;
    color: #fff;
}

.news-list-item-text-preview {
    padding: 0;
    font-size: 1.5vh !important;
    color: rgba(255,255,255,0.6) !important;
    position: absolute;
    top: 10vh;
    z-index: 10;
}

.news-list-item-text-preview p {
    margin: 0;
    font-size: 1.5vh !important;
    color: rgba(255,255,255,0.6) !important;
}

.news-item-text h1 {
    font-size: 2.5vh;
    color: #333;
    font-weight: normal;
}

.news-item-text,
.news-item-text p {
    font-size: 1.5vh !important;
}

.news-item-cover {
    height: 25vh;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 2vh;
}

.swiper-button-prev, .swiper-button-next {
    border-radius: 100%;
    width: 3vh;
    height: 3vh;
    color: #fff;
    font-size: 2vh;
    background-color: #4B7F2B;
    border: 0.2vh solid #fff;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 1.5vh;
}



/* FOOTER */

.footer {
    background: url(/img/khram/pattern.jpg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 1vh 1vh;
    text-align: center;
}

.footer a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5vh;
}

.footer a img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 3.5vh;
}

/* FOOTER */




@font-face{
    font-family:izhitsa cyrillic;
    font-style:normal;
    font-weight:400;
    src:local('Izhitsa Cyrillic'),local('Izhitsa-Cyrillic'),url(/img/khram/izhitsa-cyrillic_faff1a3b667e55ec8df47afa0e1c2ffd.woff) format('woff'),url(/img/khram/izhitsa-cyrillic_faff1a3b667e55ec8df47afa0e1c2ffd.ttf) format('truetype')
}